@import "./common/header.css";
@import "./common/banner.css";
@import "./common/footer.css";
@import "./common/body.css";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
 div.profile_all{
     /* max-width:1200px; */
     /* border: 1px solid red;  */
     margin: 0 auto;
 }

 /* ==== breadcrumbs  ==== */

 div.profile_all .exploredescript .breadcrumbs{
     text-decoration: none;
     font-family: 'Roboto', sans-serif;
     color: #585858;
     margin-bottom: 20px;
     /* border: 1px solid red; */
     position: relative;
     padding-top: 80px;
     max-width:1100px;
     margin: 0 auto;
     padding-left: 30px;
     /* margin-left: 100px; */
 }

 div.profile_all .exploredescript .breadcrumbs > a{
    text-decoration: none;
    color: #585858;
    font-size: 14px;
    /* margin-left: 100px; */
 }
 /* div.profile_all .exploredescript .breadcrumbs > a:nth-child(1){
    margin-left: 200px;
 } */

 div.profile_all .exploredescript .breadcrumbs > .page{
    font-weight: bold;
    
 }
 /* ============== designer profile================= */

div.profile_all .profile{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     margin:0 auto;
     /* border: 1px solid blue; */
     margin-bottom: 30px;
     
    } 
div.profile_all .pic{
    padding:0;
    width: 5%;
    /* width:100% */
}
div.profile_all .profile .name{
    /* border: 1px solid #000; */
    padding-left: 20px;
}
div.profile_all .profile .name p:nth-child(1){
    font-size: 15px;
    font-weight: bold;
}
div.profile_all .profile .name p:nth-child(2){
    font-size: 10px;
}
div.profile_all .pic img{
    max-width: 70px;
}
div.profile_all .pic{
    width: auto;
    font-size: 0;
    /* padding: auto; */
}

 /* ============== designer' design ================= */
div.pic_all{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 15px;  
}
.pic-1{
    /* border: 1px solid #000; */
    position: relative;
    width: 25%;
    height: 350px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.al{
    width: 35%;
    /* border: 1px solid red; */
}
.pic-1 img{
    width: 100%;
    height: 100%;
}




/* ===========PROFILE_INFO ============== */
div.profile_all .profile_info{
    text-align: center;
}

div.profile_all .profile_info .info, .show{
    border: 1px solid black; 
    /* background-color: black;  */
    /* color: white;  */
    border-radius: 15px; 
    border:none; 
    height: 30px;
    width: 120px;
    margin: 0 auto;
} 

div.profile_all .profile_info .d{
    background-color: black;
    color: white;
    border-radius: 15px;
    height: 30px;
    width: 120px;
    margin: 0 auto;
}
input[type="button"]:focus{
    outline: none;
  }

div.profile_content{
    background-image: url("../images/designer_profile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;  
    height: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0px 30px; */
    /* border: 1px solid red; */
}


div.profile_content > iframe {
    margin-top: 50px;
    margin-bottom: 50px;
    
}

div.profile_content .pcontent{
    width: 500px;
    font-size: 14px;
    margin-top: 40px;
    padding-bottom: 60px;
    margin-left: 30px;
    line-height: 30px;
    /* border: 1px solid red; */
    padding-left: 10px;
}
div.profile_content .pcontent >p{
    padding: 5px;
    
}

div.profile_content .pcontent p:nth-child(1){
    font-weight: bold;
    padding: 14px;
    /* margin-bottom: 20px; */

}

div.profile_content .pcontent .designer_style span{
    border: 1px solid #89C8C6;
    background-color: #89C8C6;
    border-radius:15px;
    padding: 2px 20px;
    height:30px;
    font-size: 12px;
    
    
}
/* 
div.profile_content .pcontent > b {
    margin-top: 50px; 
    /* border: 1px solid red; */
    
/* }   */
div.profile_content .pcontent b:nth-child(4) {
    padding-top: 15px ;
    /* border: 1px solid #000; */
    display: block;
}

/* ================================ */