
.p_all{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}
div.furniture_all{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
    letter-spacing:1px;
    /* margin-bottom: 20px; */
    padding-top: 20px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    /* border: 1px solid red; */
}
.all_room{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid #000; */
}


.line_all{
    /* margin-left:50px; */
    /* margin-top: 150px; */
    width:400px;
    position: relative;
    margin: 0 100px 0 130px; 
    /* border: 1px solid #000; */
    /* animation: text 1s ; */
    /* top: 200px; */
}

.fline{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #738494;
    top: 250px;
}
/* div.furniture_all{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
} */


.bg{
    width: 100%;
    padding: 5px 0;
    z-index: 1;
    font-size: 58px;
    /* font-family: 'Roboto', sans-serif; */
    color:#738494;
    font-weight: bold;
    font-size: 32px;
    position: relative;
    /* border: 1px solid #000; */
    /* margin-right: 250px; */
    
}
@keyframes text{
    0%{
        /* width: 0; */
        left: -100%;
    }
    100%{
        /* left: 10%; */
        left: 5%;
    }
}
.bg p{
    font-size: 14px;
    margin-top: 20px;
    line-height: 25px;
    color: #738494;
    /* border: 1px solid #000; */
    /* font-family: 'Roboto', sans-serif; */
}

div.furniture_all .living_room,.dining_room,.bedrooms{
    max-width: 300px;
}
div.furniture_all .living_room img,.dining_room img,.bedrooms img{
    width: 100%;
    height: 600px;
}

/* div.furniture_all .furniture1 .bedrooms p:hover{
    font-size: 25px;
}
div.furniture_all .furniture1 .dining_room p:hover{
    font-size: 25px;
} */

div.furniture_all .move:hover p{
    font-size: 25px;
}

div.furniture_all .living_room, .dining_room, .bedrooms{
    position: relative;
    margin: 0 10px;
    /* opacity: 0.7; */
    /* height:400px;
    width:250px; */
    /* overflow: hidden; */
}
div.furniture_all .living_room p, .dining_room p, .bedrooms p{
    position: absolute;
    text-align:center;
    bottom: 20px;
    margin: 0 auto;
    width:100%;
    font-size: 20px;
    color:white;
    cursor: pointer;
    transition: all .3s;
    /* font-weight: bold; */
}

div.pt_all .pt >p{
    color:#738494;
    font-size: 28px;
    font-weight: bold;
    /* border:1px solid red; */
    /* border-radius: 10px; */
}

/* product all */
div.pt_all .pt .allitems_button >span{
    background-image: url(../images/expand-button.png);
    background-position: right 10px bottom 6px;
    background-size: 10px;
    background-repeat: no-repeat;
    padding: 0;
    /* margin:0 5px; */
    margin: 0 auto;
    width:110px;
    display: inline-block;
    border-radius: 10px;
    border:1px solid  rgb(33, 37, 41);
    text-align: center;
    font-size: 14px;
    font-family: 'Andika New Basic', sans-serif;
    font-weight: 200;

}
div.pt_all .pt .allitems_button{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 25px;
} 


div.pt_all{
  
    /* max-width: 1200px; */
    background-color: #fff;
}
.pt{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      max-width: 1200px;
      margin: 0 auto;
}



div.allchair{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid #000; */
}
div.allchair .chairs{
    margin: 0 auto;
    width: 30%;
    /* height: 250px; */
    /* text-align: center; */
    /* border: 1px solid #000; */
    /* font-size: 0; */
    text-align: center;
    display: block;
    margin: 10px 0px;
    transform-style: preserve-3d;

}

.chairs img{
    margin: 0 auto;
    width: 250px;
    height: 375px;
    box-shadow: 0px 0px 60px 20px rgba(0,0,0,0.1);
}

div.allchair .chair_0 img{
    padding: 60px 20px 20px 20px;

}
div.allchair .chair_2 img{
    padding: 70px 0px 0px 0px;
    /* width: 20%; */
}
div.allchair .chair_3 img{
    padding: 100px 20px 30px 20px;
   
} 
div.allchair .chair_4 img{
    padding: 80px 30px 30px 30px;
    /* width: 30%; */
}

div.allchair .chair_5 img{
    padding: 35px 30px 0px 30px;
    /* width: 30%; */
}

div.allchair p{
    text-align: center;
} 

div.allchair .chairs a{
    text-decoration: none;
    color: black; 
    margin: 0;
    display: block;
}

div.allchair .chairs span{
    font-weight: bold;
    display: block;

}

div.allchair .chair_1,.chair_3,.chair_5,.chair_7{
    padding-top: 120px;
}

div.pt_all ul{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-decoration: none;
    list-style: none;
    letter-spacing: 15px;
    /* position: absolute; */
    /* width:auto; */
}

select{
    border: 2px solid #738494;
    margin-bottom: 30px;
    border-radius: 20px;
    font-size: 16px;
    outline: 0;
    width: 100px;
    text-align: center;
}

option{
    border-radius: 20px;
    /* background-color: #eeeeee; */
}

ul{
    cursor: pointer;
}

@media screen and (max-width:992px){
    div.allchair .chairs{
        width: 40%;
    }
}
@media screen and (max-width:768px){
    div.allchair{
        flex-direction: column;
        align-items: center;
    }
    div.allchair .chairs{
        margin: 30px 0px;
        width: 100%;
    }
    div.allchair .chairs img{
        width: 50%;
        padding: 50px 0 30px 0;
        object-fit: contain;
    }
    div.allchair .chair_1,.chair_3,.chair_5,.chair_7{
        padding-top: 0px;
    }
}




