           /* -----------max-width: 1024px----------- */
           
           
           
           
           
           /* -----------max-width: 768px----------- */
            @media screen and (max-width: 768px){
                div.banner{
                    left: 90px;
                    top: 50%;
                }
                div.banner h2{
                    font-size: 2rem;
                }

            }