footer.footer img{
    height: 65px;
}
footer.footer{
    background-color: #eeeeee;
    color:rgb(115, 132, 148);
    text-align: center;
    padding: 20px 0;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}
footer .footerlogo{
   display: flex;
   flex-wrap: wrap;
   align-items: center; 
   justify-content: center;
   /* border: 1px solid red; */
   margin: 0 15px;
   font-size: 10px;
}
footer .footerlogo > p{
    text-align: left;
   
    /* border: 1px solid red; */
    
}
/* footer.quick_quick_link{
    display: flex;
    flex-wrap: wrap;
   align-items: center;
} */
/* footer .quick_link > .linkall{
    list-style: none;
    /* font-size: 16px;  */
/* }  */
/* footer .quick_link > .linkall a{
    display: inline-block;
    text-decoration: none;
    color:rgb(115, 132, 148);
    font-size: 10px;
}  */
footer.footer .contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    margin: 0 20px;
    font-size: 10px;
}
footer.footer .contact p{
    font-size: 10px;
    color:#738494;
}
footer.footer .social{
    margin:0 20px;
    margin-left: 20px;
    font-size:20px;
    /* display: flex; */
   
}
footer.footer .social >p {
    font-size: 10px;
}