  /* -----------max-width: 992px----------- */
  @media screen and (max-width: 992px){
    div.pic_explore .pic-all{
        width:20%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    div.pic_explore .long{
        width: 40%;
    }
  }

  /* -----------max-width: 768px----------- */
  @media screen and (max-width: 768px){
    div.pic_explore{
        margin: 0;
    }
    div.explore{
        padding: 0 10px;
    }
    div.pic_explore .pic-all{
        width:100%;
        height: 50%;
        /* margin-right: 3px; */
        margin-bottom: 10px; 
       
    }

    div.pic_explore .long{
        width: 100%;
    }
    div.explore_all .explore .exploredescript > p {
        font-size: 15px;
    }
  }