
 /* -----------max-width: 1200px----------- */
    @media screen and (max-width: 1200px){
    .owl-carousel .customer_reviewall > .customer_banner{
       
     
    }
 }
 /* -----------max-width: 1024px----------- */
    @media screen and (max-width: 1024px){

        /* design process */
        div.design_banner > p{
            font-size: 18px;
        }
        
        div.design_banner .design_process_1 > p{
           margin-left: 10px;

        }
        /* div.design_banner .design_process_2 > p{
            font-size: 14px;
        }
        div.design_banner .design_process_3 > p{
            font-size: 14px;
        
        } */ 
    }    

    /* -----------max-width: 992px----------- */
    @media screen and (max-width: 992px){

        div.design_banner .design_process_1 > p{
            margin-top: 15px;
            margin-left: 10px;
            font-size: 15px;
 
         }
         div.design_banner .design_process_2 > p{
            margin-top: 15px;
            margin-left: 10px;
            font-size: 15px;
         }
         div.design_banner .design_process_3 > p{
            margin-top: 15px;
            margin-left: 10px;
            font-size: 15px;
           
         } 


        /* customer review */
  
      
     
    } 

 /* -----------max-width: 768px----------- */
 
 @media screen and (max-width: 768px){ 

    /* ===============design process============== */ 
    div.banner_bg, div.banner_b{
        padding-top: 100%;
    }

    div.design_banner > p{
        top: 5%;
        left: 10%;
    }
    div.design_processall{
        flex-direction:column;
        }
 
    div.design_banner .design_process_1{
        width: 100%;
        /* border: 1px solid #000; */
        padding-top: 60%;
        background-size: 40%;

    }
    div.design_banner .design_process_1 > p{
        bottom: 10%;
        font-size: 16px;
        margin-top: 30px;
        margin: 0 auto;
        padding: 0 35%;
        border: 1px solid red;
        /* margin-right: 5px; */
    }
    div.design_banner .design_process_2{
        width: 100%;
        padding-top: 50%;
        background-size: 40%;
    }
    div.design_banner .design_process_2 > p{
        bottom: 10%;
        font-size: 16px;
        margin-top: 30px;
        margin: 0 auto;
        padding: 0 35%;
        /* border: 1px solid red; */
    }
    div.design_banner .design_process_3{
        width: 100%;
        padding-top: 50%;
        background-size: 40%;
    } 
    div.design_banner .design_process_3 > p{
        font-size: 16px;
        bottom: 10%;
        margin-top: 30px;
        margin: 0 auto;
        padding: 0 35%;
        padding-bottom: 10%;
        border: 1px solid red;

    } 
    .pricing_picall{
        flex-direction: column;
        align-items: center;
      } 

      div.pricing_pic{
        margin-bottom: 40px;
    }

    /* ===============customer review============== */ 

  
    .customer_reviewall{
        flex-direction:column;
        width: 100%;
    }
    .owl-carousel .customer_reviewall > .customer_banner{
        width: 100%;

    }
    .customer_reviewall .feedback{
        width: 100%;

    }   
    .customer_reviewall .feedback .ctitle{
        font-size:18px;
        padding-top: 15px;

    }
    .customer_reviewall .feedback > .money{
        font-size: 12px;
        padding-bottom: 15px;


    }
}
/* -----------max-width: 400px----------- */
@media screen and (max-width: 400px){
    /* design process */
    div.design_banner > p{
        font-size: 16px;
    }
    div.design_banner .design_process_1 > p{
        font-size: 14px;
        padding: 0 30%;
    }
    div.design_banner .design_process_2 > p{
        padding: 0 30%;
        font-size: 14px;
    }
    div.design_banner .design_process_3 > p{
        font-size: 14px;
        padding: 0 30%;
    }
}

